/* Main on my donate page to override anything in general css stylings */
main {
  gap: 1%;
  align-items: stretch;
  margin-bottom: 6rem;
}

.donate-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 2px solid magenta; */
  width: 45%;
  aspect-ratio: 1;
}

.frequency-container {
  display: flex;
  /* border: 2px solid magenta; */
  width: 80%;
  gap: 1%;
}

.frequency-container button {
  background-color: #336021;
  color: white;
  padding: 1rem;
  width: 100%;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  transition: background-color 0.2s;
}

.frequency-container button:hover {
  background-color: #40772a;
}

.frequency-container button:active {
  background-color: #4a8931;
}

.amount-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3%;
  row-gap: 3%;
  /* border: 1px solid green; */
  padding: 2rem;
  padding-bottom: 3rem;
  width: 80%;
}

.amount-grid button {
  padding: 1rem 2.5rem;
  border: none;
  border-radius: 1.5rem;
  background-color: #e68c3a;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.2s;
  color: #fff;
}

.amount-grid button:hover {
  background-color: #f3953d;
}

.amount-grid button:active {
  background-color: #ff9d41;
}

.custom-donation-button {
  grid-column: span 2;
}

.charity-img {
  width: 100%;
  max-width: 350px;
  min-width: 100px;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgb(163, 163, 163);
  transition: box-shadow 0.5s, border-radius 0.75s ease;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.charity-img:hover {
  box-shadow: 0px 0px 24px #40772a;
  border-radius: 25%;
}

.heading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.donate-heading,
.form-heading {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}

.confirm-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1%;
  min-width: 100%;
  margin-bottom: 1rem;
}

#confirm-check {
  width: 1rem;
  aspect-ratio: 1;
  cursor: pointer;
}

.confirm-message {
  font-size: 1.25rem;
  cursor: pointer;
  transition: color 0.2s;
}

.confirm-message:hover {
  color: #7e8386;
}

.confirm-message:active {
  color: #9ca2a6;
}

.donate-button {
  background-color: #336021;
  color: white;
  padding: 1rem;
  width: 80%;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  transition: background-color 0.2s;
}

.donate-button:hover {
  background-color: #40772a;
}

.donate-button:active {
  background-color: #4a8931;
}

.charity-name {
  font-weight: bold;
  font-size: 1.25rem;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.donate-quote {
  font-size: 1.25rem;
  margin-top: 2rem;
  margin-bottom: 0.75rem;
  text-align: center;
}

@media (max-width: 900px) {
  body {
    padding: 2rem 3rem;
  }

  .donate-container {
    width: 80%;
    border: 1px solid magenta;
  }

  main {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
}

@media (max-width: 600px) {
  .donate-container {
    text-align: center;
  }
  .form-heading {
    text-align: center;
  }

  .amount-grid {
    grid-template-columns: 1fr;
    width: 100%;
    border: 1px solid orange;
    padding-bottom: 6rem;
  }

  .custom-donation-button {
    grid-column: span 1;
  }

  .confirm-container {
    margin-top: 2rem;
  }
}
