* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f4f2ef;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    Font-Family: arial, helvetica, sans-serif;

}
main {
    max-width: 1100px;
    background-color: #f4f2ef;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    font-size: 1.1rem;
    line-height: 1.4;
}

h1,
h2 {
    font-size: 2em;

}

h2 {
    color: #336021;
}
img {
    border-radius: 10px;
}


body{
  font-family: Arial, Helvetica, sans-serif; 
 }

 /* Navigation Bar Styling */
 .navBar {
    display:flex;
    align-items:center;
    background-color:#336021;
    width:100vw;
    text-align: center; 
    justify-content:space-between;
  }
  .leftSide{
    padding-right: 15px;
    display:flex;
  }

  .navLogo{
    width:8rem;
  }

  .rightSide{
    display: flex;
    margin: 0 5px;
  } 
  .navBar a {
    color: white;
    padding:14px 16px;
    text-decoration: none;
    font-size: 1.25rem;
    transition: color 0.2s;
  }
  .navBar a:hover {
    color: black;
  }

  .menu-toggle {
    display: none; 
}

.menu-icon {
    display: none;
    font-size: 2rem; 
    cursor: pointer;
    color:white;
}

/* top section */
.index-navsection {
    width: 100vw;
    background-color: #336021;
    display: flex;
    align-items: center;
    justify-content: center;
}

.index-navsection img {
    height: 300px;
    width: auto;
}

.index-center_nav_section {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    max-width: 500px;
    padding: 30px;
    background-color: #336021;
    color: #fff;

}

/* section 2 and 4 */
.index-section-middle img {
    width: auto;
    height: 300px;

}

.index-section-middle {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 40px;

}

.index-sectionContent-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d8d1bd;
    margin-left: 40px;
    border-radius: 20px;

    
}

.index-sectionContent-left p, h1, h2, button {
    margin: 20px;
}

/* section 3 */
.index-section  {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.index-section img {
    width: auto;
    height: 325px;
}

.index-sectionContent-right {
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #d8d1bd;
    border-radius: 20px;

}

.index-sectionContent-right p, h1, h2, button{
    margin: 20px;
}

/* button section */
button {
    padding: 10px;
    background-color: #e68c3a ;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    background-color: #000;
    color: white;
}

.content-column {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.content-column-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* Styling for the footer */
footer{
    margin-top: auto;
    display: flex;
    align-items: center;
    padding:20px;
    background-color:#336021;
    color:white;
    height: 60px;
    width:100%;
    padding-bottom: 1rem;
  }



  /* Center text in footer paragraph */

  footer p{
    margin: auto;
    text-align: center;
  }

  .highlightOrange a:hover{
    color:#e68c3a;
    
  }

  .highlightOrange a{
    color:white;
    text-decoration: none;
  }


@media (max-width:900px){
    * {
        margin: 0;
        padding: 0;
    }
    .content-column {
        flex-direction: column;
    }

    .content-column-2 {
        flex-direction: column-reverse;
        align-items: center;
    }
    .index-sectionContent-right,
    .index-sectionContent-left {
        margin: auto;
        padding: 0;
        margin-bottom: 10px;
    }

}

@media (max-width: 768px) {
    .rightSide {
        display: none; /* Hide links*/
        flex-direction: column; /* Stack links vertically */
        position: absolute;
        top: 60px; 
        left: 0;
        width: 100%;
        background-color: #336021;
        z-index: 1000;
    }
  
    .menu-toggle:checked + .menu-icon + .rightSide {
        display: flex;
    }
  
    .menu-icon {
        display: block;
    }
  }

  @media (max-width:320px){
    body{
      font-size:14px; 
    }
  
    footer{
      flex-direction:column;
      height:auto;
      padding:10px; 
    }
  }
  /* Responsive syles for tablet breakpoint*/
  @media (min-width:321px) and (max-width:768px){
    body {
      font-size: 16px;
    }
  
    footer {
      height: 50px;
      padding: 15px; 
    }
  }
  /* Responsive styles for desktop breakpoint */
  @media(min-width:769px){
    body {
      font-size: 18px;
    }
  
    footer {
      height: 60px;
      padding: 20px;
    }
  }





