/* CSS Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

 body{
  font-family: Arial, Helvetica, sans-serif; 
 }

  .container{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 1rem; 
  }

  h1{
    font-size:2.5rem; 
    text-align: center;
    margin: 1.5rem 0; 
  }

  h2, h3, h4{
    font-size: 1.5rem;
    font-weight:bold;
    margin: 1rem 0;
  }

  p{
    font-size:1rem;
    line-height:1.6;
    margin-bottom: 1.25rem;
  }

/* Image Styles */
img{
    display: block;
    max-width: 100%;
    max-height:auto;
    border-radius: 10px;
  }

/* Link Styles */
li{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.clicked:hover {
    text-decoration:underline;
}

.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:#d8d1bd;
  margin:20px 0;
  border-radius: 10px;
  padding:1rem 3rem;
  text-align:center;
}

.background > a{
      color:black;
}

button{
  background-color: #E68C3A;
  border: none;
  border-radius:5px;
  color: white;
  padding: 15px 32px;
  font-size: 1rem;
  margin: 0.25rem 0;
  cursor: pointer;
}


@media (max-width: 320px) {
    body {
        font-size: 14px;
    }
}

@media (min-width: 321px) and (max-width: 768px) {
    h1 {
        font-size: 2rem; 
    }

    p {
        font-size: 0.875rem;
    }
}

@media (min-width: 769px) {
    h1 {
        font-size: 2.5rem;
    }
}
